<p>Hallo <%= @resource.username.capitalize %>!</p>

<p>Iemand heeft een verzoek tot het wijzigen van uw wachtwoord ingediend. Dit kunt u doen door op de onderstaande link te klikken.</p>

<p><%= link_to 'Wijzig mijn wachtwoord', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Als u hier niet om heeft gevraagd kunt u deze mail negeren.</p>
<p>Uw wachtwoord wordt dan niet gewijzigd.</p>
<br/>

<p>
  Groeten,<br/><br/>
  Wesley van der Molen<br/>
  <%= link_to "RECAPPT", "www.recappten.nl" %>
</p>
